@import '~style/helpers';

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	text-align: center;
	z-index: 1;

	h1 {
		background: $primary-color;
		margin: 0;
		padding: 0 15px;
		line-height: 2.3;
		color: #FFF;
	}
	.searchContainer {
		background-color: $primary-color-text;
	}
	.search {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $primary-color-light;
		font-size: 1em;
		margin: .25em;
		padding: .25em;
		width: 250px;
		&:focus {
			border-bottom-color: $primary-color;
		}
	}
}
