@import '~style/helpers';

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	text-align: center;
	z-index: 1;

	h1 {
		background: $primary-color;
		margin: 0;
		padding: 0 15px;
		line-height: 2.3;
		color: #FFF;
	}
	.searchContainer {
		align-items: center;
		background-color: $primary-color-text;
		display: flex;
  		justify-content: center;
		&::before {
			background-image: url("data:image/svg+xml;utf8,<svg id=\"i-search\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 32 32\" fill=\"none\" stroke=\"#{$primary-color;}\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\"><circle cx=\"14\" cy=\"14\" r=\"12\"/><path d=\"M23 23l7 7\"/></svg>");
			content: '';
			display: inline-block;
			height: 1em;
			width: 1em;
		}
		@media print {
			display: none;
		}
	}
	.search {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $primary-color-light;
		font-size: 1em;
		margin: .25em;
		padding: .25em;
		width: 250px;
		&:focus {
			border-bottom-color: $primary-color;
		}
	}
}
