.resource:not(:last-child) {
    margin-bottom: 1em;
}
.description {
    margin: .25em 0 0;
}
@media screen{
    .url {}
    .printMetadata { display: none; }
}

@media print {
    .url { display: none; }
    .printMetadata {}
}