.resource:not(:last-child) {
    margin-bottom: 1em;
}
.description {
    margin: .25em 0 0;
}
@media screen{
    .url {
        border-bottom: 1px dashed rgba(153, 153, 153, .5);
        text-decoration: none;
        transition: .3s all ease-in;
        &:hover, &:focus {
            border-bottom: 1px dashed rgba(153, 153, 153, 1);
        }
    }
    .printMetadata { display: none; }
}

@media print {
    .url { display: none; }
    .printMetadata {}
}